In [1]:
import pandas as pd
df=pd.read_csv("weather.csv")
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [5]:
# to get coloumn and row
rows,colums=df.shape
rows

6

In [6]:
# .coloums is used to get no of coloums 
df.columns

Index(['day', 'temperature', 'windspeed', 'event'], dtype='object')

In [7]:
# we can access any property through 
# df.events 
# df['events]
df.event
df['event']

0     Rain
1    Sunny
2     Snow
3     Snow
4     Rain
5    Sunny
Name: event, dtype: object

In [9]:
# if we want to print certain coloumn only then we can print like this
df[['event','day','temperature']]

   event       day  temperature
0   Rain  1/1/2017           32
1  Sunny  1/2/2017           35
2   Snow  1/3/2017           28
3   Snow  1/4/2017           24
4   Rain  1/5/2017           32
5  Sunny  1/6/2017           31

In [31]:
# we can find max in coloumn by using .max()
df['temperature'].max()

35

In [33]:
# we can find min in coloumn by using .min
df['temperature'].min()

24

In [32]:
# we can find mean in coloum by uning .mean()
df['temperature'].mean()

30.333333333333332

In [34]:
# we can find stastics of the datset using .descibe()
df.describe()

       temperature  windspeed
count     6.000000   6.000000
mean     30.333333   4.666667
std       3.829708   2.338090
min      24.000000   2.000000
25%      28.750000   2.500000
50%      31.500000   5.000000
75%      32.000000   6.750000
max      35.000000   7.000000

In [40]:
# we can also use conditional here 
df[df.temperature>=32]
df['day'][df.temperature==df['temperature'].max()]

1    1/2/2017
Name: day, dtype: object

I can explore more method from panda series opertion

In [ ]:
# we can also set index as any primary key
# this helps for easy data retreival
df.set_index('day', inplace=True)
# We can now access the values using `loc` and `iloc`

In [46]:
df

          temperature  windspeed  event
day
1/1/2017           32          6   Rain
1/2/2017           35          7  Sunny
1/3/2017           28          2   Snow
1/4/2017           24          7   Snow
1/5/2017           32          4   Rain
1/6/2017           31          2  Sunny

In [48]:
df.loc['1/3/2017']

temperature      28
windspeed         2
event          Snow
Name: 1/3/2017, dtype: object

In [52]:
# we can also reset 
df.reset_index(inplace=True)

In [53]:
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [56]:
df[df['event']=='Snow']

        day  temperature  windspeed event
2  1/3/2017           28          2  Snow
3  1/4/2017           24          7  Snow